@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&display=swap');

body {
    margin: 0;
    color: white;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.section {
    padding: 80px 20px;
    margin: 0 auto;
}

* {
    font-family: 'Carlito', sans-serif;
}

.button {
  color: white;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: font-size 0.2s ease, font-weight 0.2s ease;
  font-size: 1rem;
  font-weight: 500;
}

.button:hover,
.button.active {
    font-size: 1.1rem;
    font-weight: 600;
}

.carlito-regular {
  font-family: "Carlito", serif;
  font-weight: 400;
  font-style: normal;
}

.carlito-bold {
  font-family: "Carlito", serif;
  font-weight: 700;
  font-style: normal;
}

.carlito-regular-italic {
  font-family: "Carlito", serif;
  font-weight: 400;
  font-style: italic;
}

.carlito-bold-italic {
  font-family: "Carlito", serif;
  font-weight: 700;
  font-style: italic;
}
