section {
    justify-content: center;
    align-items: center;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    background-color: inherit;
}

.fade-in-section {
    filter: blur(4px);
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out, filter 0.8s ease-out;
  }
  
  .fade-in-section.visible {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
  }
  
  
