section {
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  background-color: inherit;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(40px) scale(0.98);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  will-change: opacity, transform;
}

.fade-in-section.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}


@media (max-width: 1025px) {
  .fade-in-section {
    transition: none;
    filter: none;
    opacity: 1;
    transform: none;
  }
}