section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    background-color: inherit;
}

.about {
    background-color: #4f6796;
}

.skills {
    background-color: #4f6796;
}

.projects {
    background-color: #4f6796;
}

.contact {
    background-color: #4f6796;
}

.fade-in-section {
    min-width: 100%;
    overflow-x: hidden;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    background-color: #4f6796;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateX(0);
}

.fade-in-section:not(.visible) {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

  
