.scrolling-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    background: transparent;
    padding: 0;
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: left top;
    -webkit-mask-size: 100% 100%;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    mask-repeat: no-repeat;
    mask-position: left top;
    mask-size: 100% 100%;
}

.scrolling-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    padding: 10px 0;
    background: transparent;
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease-in;
}

.scrolling-container.visible {
    opacity: 1;
    visibility: visible;
}

.scrolling-content {
    display: flex;
    white-space: nowrap;
    animation: scroll-left 20s linear infinite;
    animation-play-state: paused;
}

.scrolling-container.visible .scrolling-content {
    animation-play-state: running;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.scrolling-container:nth-child(2) .scrolling-content {
    animation-delay: var(--delay);
}
.scrolling-container:nth-child(3) .scrolling-content {
    animation-delay: var(--delay);
}
.scrolling-container:nth-child(4) .scrolling-content {
    animation-delay: var(--delay);
}
.scrolling-container:nth-child(5) .scrolling-content {
    animation-delay: var(--delay);
}

.project-title {
    display: inline-block;
    margin: 0 50px;
    font-size: 2.5rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    white-space: nowrap;
}
  
.project-title:hover {
    transform: scale(1.15);
    font-weight: 800;
}
  
.dot {
    font-weight: bold;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
  

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}